@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App{
  position: relative;
  width: 100wh;
  height: 100vh;
  display: flex;
}